In [2]:
import pandas as pd
df = pd.read_csv("E:/Data Science class/Datasets/Banking_Marketing.csv")

In [3]:
df.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration          float64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

In [4]:
df.isna().sum()

age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           6
month             0
day_of_week       0
duration          7
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [6]:
data = df.dropna()

In [7]:
df.isna().sum()

age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           6
month             0
day_of_week       0
duration          7
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [8]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44.0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53.0,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28.0,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39.0,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55.0,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30.0,management,divorced,basic.4y,no,yes,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37.0,blue-collar,married,basic.4y,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39.0,blue-collar,divorced,basic.9y,no,yes,no,cellular,may,fri,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36.0,admin.,married,university.degree,no,no,no,cellular,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27.0,blue-collar,single,basic.4y,no,yes,no,cellular,apr,thu,...,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0
10,34.0,housemaid,single,university.degree,no,no,no,telephone,may,fri,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,0
11,41.0,management,married,university.degree,no,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,0
12,55.0,management,married,university.degree,no,no,no,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,1
13,33.0,services,divorced,high.school,no,yes,no,cellular,may,tue,...,5,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1,0
14,26.0,admin.,married,high.school,no,no,yes,telephone,jun,mon,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,0
15,52.0,services,married,high.school,unknown,yes,no,cellular,jul,thu,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
16,35.0,services,married,high.school,no,no,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
17,27.0,admin.,single,university.degree,no,no,no,telephone,oct,tue,...,1,999,0,nonexistent,-0.1,93.798,-40.4,4.860,5195.8,1
18,28.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
19,26.0,unemployed,single,basic.9y,no,yes,yes,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
20,41.0,unemployed,married,basic.9y,unknown,yes,no,telephone,apr,fri,...,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,0
21,35.0,blue-collar,single,unknown,no,no,yes,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
22,40.0,admin.,married,university.degree,unknown,yes,no,telephone,jul,wed,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
23,32.0,technician,single,professional.course,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,0
24,41.0,blue-collar,married,high.school,no,yes,yes,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,0
25,34.0,entrepreneur,single,university.degree,no,yes,no,cellular,may,tue,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,0
26,49.0,technician,divorced,unknown,no,yes,yes,cellular,oct,thu,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,0
27,37.0,admin.,married,high.school,no,yes,no,cellular,apr,thu,...,1,2,1,success,-1.8,93.075,-47.1,1.365,5099.1,0
28,35.0,blue-collar,married,basic.6y,unknown,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
29,38.0,blue-collar,single,basic.4y,unknown,no,no,telephone,jul,tue,...,5,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41157,34.0,services,married,basic.9y,unknown,yes,no,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41158,30.0,services,married,high.school,unknown,unknown,unknown,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41159,47.0,admin.,divorced,high.school,unknown,no,no,cellular,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41160,57.0,management,divorced,university.degree,unknown,yes,yes,cellular,nov,thu,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,0
41161,43.0,blue-collar,married,high.school,unknown,no,no,cellular,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,0
41162,43.0,self-employed,married,high.school,unknown,yes,no,cellular,apr,wed,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.445,5099.1,0
41163,22.0,blue-collar,single,basic.9y,no,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,0
41164,33.0,technician,single,professional.course,no,yes,no,cellular,aug,fri,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
41165,56.0,admin.,married,unknown,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
41166,31.0,admin.,married,unknown,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,0
41167,30.0,admin.,single,high.school,no,no,no,cellular,jul,wed,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,0
41168,29.0,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
41169,46.0,technician,married,basic.9y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41170,32.0,technician,single,university.degree,no,yes,yes,cellular,aug,thu,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1,0
41171,42.0,admin.,married,high.school,unknown,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,0
41172,27.0,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,wed,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1
41173,39.0,self-employed,married,high.school,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0
41174,49.0,entrepreneur,married,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,0
41175,46.0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,tue,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41176,30.0,blue-collar,single,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,0
41177,52.0,self-employed,single,university.degree,unknown,yes,no,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228.1,0
41178,35.0,technician,married,high.school,no,no,no,telephone,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,1
41179,29.0,technician,single,basic.9y,no,yes,no,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,0
41180,44.0,services,married,high.school,unknown,yes,yes,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,0
41181,39.0,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,0
41182,24.0,admin.,married,high.school,no,yes,no,cellular,may,thu,...,4,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,0
41183,59.0,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31.0,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41187,25.0,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0
41194,104.0,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0

In [10]:
data.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

# Imputing the missing Data

In [11]:
import pandas as pd
df = pd.read_csv("E:/Data Science class/Datasets/Banking_Marketing.csv")

Impute the numerical data of the age column with its mean. To do so, first find the mean of the age column using the mean() function of pandas, and then print it:

In [12]:
mean_age = df.age.mean()

In [13]:
mean_age

40.023812413525256

In [14]:
df.age.fillna(mean_age, inplace=True)

In [15]:
df.age

0         44.000000
1         53.000000
2         28.000000
3         39.000000
4         55.000000
5         30.000000
6         37.000000
7         39.000000
8         36.000000
9         27.000000
10        34.000000
11        41.000000
12        55.000000
13        33.000000
14        26.000000
15        52.000000
16        35.000000
17        27.000000
18        28.000000
19        26.000000
20        41.000000
21        35.000000
22        40.000000
23        32.000000
24        41.000000
25        34.000000
26        49.000000
27        37.000000
28        35.000000
29        38.000000
            ...
41169     46.000000
41170     32.000000
41171     42.000000
41172     27.000000
41173     39.000000
41174     49.000000
41175     46.000000
41176     30.000000
41177     52.000000
41178     35.000000
41179     29.000000
41180     44.000000
41181     39.000000
41182     24.000000
41183     59.000000
41184     31.000000
41185     42.000000
41186     48.000000
41187     25.000000
41188     25.000000
41189    103.000000
41190     29.000000
41191     44.000000
41192     39.000000
41193      1.000000
41194    104.000000
41195      2.000000
41196      3.000000
41197     40.023812
41198     40.023812
Name: age, Length: 41199, dtype: float64

In [16]:
median_duration = df.duration.median()

In [17]:
median_duration

180.0

In [18]:
df. duration.fillna(median_duration,inplace=True)

In [19]:
df.duration

0         210.0
1         138.0
2         339.0
3         185.0
4         137.0
5          68.0
6         204.0
7         191.0
8         174.0
9         191.0
10         62.0
11        789.0
12        372.0
13         75.0
14       1021.0
15        117.0
16       1034.0
17        540.0
18        140.0
19        104.0
20        246.0
21       1114.0
22        340.0
23         35.0
24        241.0
25        168.0
26         81.0
27        226.0
28        746.0
29         41.0
          ...
41169     530.0
41170     195.0
41171     956.0
41172    1309.0
41173     291.0
41174     140.0
41175      58.0
41176      74.0
41177      73.0
41178     243.0
41179     214.0
41180      34.0
41181     123.0
41182     118.0
41183     222.0
41184     196.0
41185     180.0
41186     180.0
41187     112.0
41188     180.0
41189     243.0
41190     180.0
41191      34.0
41192     180.0
41193     180.0
41194     222.0
41195     180.0
41196      62.0
41197     200.0
41198     112.0
Name: duration, Length: 41199, dtype: float64

In [20]:
mode_contact = df.contact.mode()[0]

In [21]:
mode_contact

'cellular'

In [22]:
df.contact.fillna(mode_contact,inplace=True)

In [23]:
df.contact

0         cellular
1         cellular
2         cellular
3         cellular
4         cellular
5         cellular
6         cellular
7         cellular
8         cellular
9         cellular
10       telephone
11        cellular
12        cellular
13        cellular
14       telephone
15        cellular
16        cellular
17       telephone
18       telephone
19        cellular
20       telephone
21       telephone
22       telephone
23        cellular
24        cellular
25        cellular
26        cellular
27        cellular
28        cellular
29       telephone
           ...
41169     cellular
41170     cellular
41171    telephone
41172     cellular
41173    telephone
41174     cellular
41175     cellular
41176     cellular
41177    telephone
41178    telephone
41179     cellular
41180     cellular
41181     cellular
41182     cellular
41183    telephone
41184    telephone
41185    telephone
41186    telephone
41187    telephone
41188     cellular
41189     cellular
41190     cellular
41191     cellular
41192     cellular
41193     cellular
41194    telephone
41195     cellular
41196     cellular
41197    telephone
41198    telephone
Name: contact, Length: 41199, dtype: object